<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .tombol{
            background-color: royalblue;
            color: white;
            padding: 10px;
            text-decoration: none !important;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <center>
        <h5>Halo, {{email}} silahkan verifikasi akunmu dengan meng-input kode berikut:</h5>
        <h1>{{otp}}</h1>        
    </center>
</body>
</html>